html, body{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

article{
    display: flex;
}

section{
    background-color: whitesmoke;
    border: 1px black solid;
}

img{
    width: 40px;
    height: 40px;
}

